/* FILTER SECTION */

.filter-section {
    background-color: #f8f0e7;
    width: 81%;
    padding: 1em;
    margin: 6.5em auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.filter-section ~ .section {
    padding-top: 2.5em;
}

.filter-section button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.filter-section button:nth-child(2) {
    background-color: #ced4ad;
}

.filter-section button:nth-child(3) {
    background-color: #e4d0ba;
}

.filter-section button:nth-child(4) {
    background-color: #bfc9c4;
}

.filter-section button:nth-child(5) {
    background-color: #d4b9b9;
}

.filter-section button:nth-child(6) {
    background-color: #e4cf99;
}

.filter-section select {
    height: 2.5rem;
    font-size: 1.2rem;
    padding-left: 5px;
}

.filter-section span {
    padding-right: 5px;
}


/* PAGINATION */

.pagination {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 60px;
  font-size: 1.4rem;
}

.pagination button {
  color: black;
  display: contents;
}

.pagination a {
    color: $black;
    padding: 5px 10px;
    transition: background-color .3s;
}

.pagination a.active {
  background-color: $green;
  color: white;
}

.pagination a:hover:not(.active) {
    background-color: $kaki;
    color: white;
}

.pagination i {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.pagination span {
  padding-left: 5px;
  padding-right: 5px;
}

