/* FILTER SECTION */

.filter-section {
    background-color: #f8f0e7;
    max-width: 1550px;
    padding: 1em;
    margin: 6.5em auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.filter-section ~ .section {
    padding-top: 2.5em;
}

.filter-section ul {
    display: flex;
    padding-bottom: 1em;
    padding-top: 0.2em;
}

.filter-section div {
    margin-top: 1.2em;
}

.filter-section label {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

ul label:nth-child(2) {
    background-color: #e4d0ba;
}

.filter-section select {
    height: 2.5rem;
    font-size: 1.2rem;
    padding-left: 5px;
}

.filter-section span {
    padding-right: 10px;
    padding-top: 1.4em;
}

.filter-section li {
    display: inline-block;
}

input {
    visibility:hidden;
}

input:checked + label {
    background: #d4b9b9;
}


/* PAGINATION */

.pagination {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 60px;
  font-size: 1.4rem;
}

.pagination button {
    color: $black;
    padding: 5px 10px;
    transition: background-color .3s;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    background-color: $beige-clair;
}

.pagination button.active {
  background-color: $green;
  color: white;
}

.pagination button:hover:not(.active) {
    background-color: $kaki;
    color: white;
}

/* .pagination i {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
} */

.pagination span {
  padding-left: 5px;
  padding-right: 5px;
}

