/**HERO SECTION**/

.hero-section {
  padding-top: 15em;
  padding-bottom: 6.5em;
}

.full-width {
  padding-right: 5em;
  padding-left: 5em;
}

.hero-header-wrapper {
  width: 100%;
  padding-bottom: 3.5em;
  border-bottom: 1px solid rgba(66, 73, 40, 0.5);
}

.width-70 {
  width: 70%;
}

.feature-paragraph {
  font-size: 1.25em;
}

.hero-mid-split-wrapper {
  display: flex;
  min-height: 70vh;
  justify-content: center;
}

.hero-split-content {
  padding-right: 3em;
  padding-left: 5em;
  padding-bottom: 3.5em;
}

.no-margin-bottom {
  padding-bottom: 0;
}

.hero-split-left-column {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

.hero-split-left-column--products {
  background-color: $beige-saumon;
}

.hero-split-left-column--about {
  background-color: $green;
  h1, p {
    color: white;
  }
}

.hero-split-right-column {
  position: relative;
  overflow: hidden;
  width: 50%;
}

.split-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.split-image--products {
  background-image: url('../images/img-produits/plantesCouv.jpg');
}

.split-image--about {
  background-image: url('../images/img-about/aPropos.jpg');
}

