.flex-ctn {
    display: flex;
    margin: 40px 80px;
    gap: 80px;
}

.side-img-ctn img{
    width: 100%;
}

.side-img-ctn  {
    margin-top: 60px;
    width: 1200px;
    position: relative;
}

.about-img-ctn--1 {
    width: 500px;
}

.about-img-ctn--2 {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 360px;
    transform: translate3d(0px, 0%, 0px);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.nav-hider {
    height: 60px;
    width: 100%;
    background-color: #f9e9e0;
}

.about-section {
    padding-left: 150px;
    h1 {
        margin-bottom: 0px;
        font-size: 3.5em;
    }
    h2 {
        margin-bottom: 40px;
        margin-top: 60px;
        font-size: 3em;
    }
    a {
        margin-top: 60px;
        margin-bottom: 60px;
        display: block;
    }
}

.change-height {
    transform: translate3d(0px, -20%, 0px)
}