/*CONTAINER*/

.section {
  padding-top: 6.5em;
  padding-bottom: 6.5em;
}

.no-margin-top {
    padding-top: 0;
}

.margin-bottom-9-5 {
  padding-bottom: 9.5em;
}

.container {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5em;
    padding-left: 5em;
}

.products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 3.5em;
    text-align: center;
}





