//***NAVIGATION***//

nav {
  color: $black; //$beige-clair pour haut page welcome en JS
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
  background-color: #f9e9e0;
  transition: 0.5s all;
}

.menu {
  flex-grow: 2;
}

.menuPrincipal {
  display: flex;
  font-size: 1.2rem;
  a {
    margin-right: 30px;
  }
}

.nav-menu {
  margin: 0;
  line-height: 40px;
  display: flex;
  flex-direction: row;
}

.dropdown-title {
  padding: 0px 15px;
  font-size: 1.25em;
  font-family: 'Playfair Display', serif;
  &:hover {
    font-style: italic;
  }
  &:hover .fa-plus{
    animation: rotate-45deg 1000ms forwards;
  }
}

.logo-container {
  margin-left : 40px;
  margin-right: 40px;
  width: 240px;
  img {
    width: 100%;
  }
}

.logo {
  font-size: 2em;
  color: $beige-clair;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
}

.fas-wrapper {
  height: 32px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  .fa-bars {
    display: none;
  }
}

.fa-search, .fa-shopping-bag, .fa-bars {
  font-size: 25px;
  padding: 0px 15px;
  font-family: 'FontAwesome';
  color: $beige-clair;
  cursor: pointer;
}

.fa-shopping-bag {
  padding-bottom: 2px;
}

.fa-plus {
  padding-left: 5px;
}

.heading-wrapper-centered {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3.5em;
  height: 340px;
  text-align: center;
}

.dark-color {
  color: $black;
  font-weight: 500;
}

.menuPrincipalLi:hover {
  font-style: italic;
}

.show-nav {
  height: 100px !important;
}

/* SHOPPING LIST */

.shopping-list {
  position: absolute;
  right: 0;
  top: 70px;
  background-color: #f9e9e0;
  height: 0;
  overflow: hidden;
  width: 320px;
}

.shopping-list h3 {
  font-size: 22px;
  padding-left: 10px;
}

.shopping-list-item-wrapper {
  display: flex;
  gap: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.shop-img-ctn {
  width: 80px;
}

.shop-img-ctn img {
  width: 100%;
}

.shopping-list-item-wrapper h4 {
  margin-left: 0;
  font-size: 18px;
}

.shopping-list-item-wrapper span {
  font-size: 14px;
}

.show-shop-list {
  height: fit-content !important;
}