//font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//colors
$green: #212806;
$kaki: #8e9373;
$beige-rose: #f8f0e7;
$beige-fonce: #e0cfba;
$beige-clair: #fcf8f3;
$black: #212806;
$star: goldenrod;

* {
  margin: 0;
  padding: 0;
}

body {
  color: $black;
  background-color: $beige-clair;
  font-size: 1vw;
  line-height: 1;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4.5em;
  color: $beige-clair;
  font-family: 'Playfair Display', serif;
  margin-bottom: 50px;
}

h2 {
  font-size: 3.75em;
  color: $black;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  margin-bottom: 50px;
}

h3 {
  font-size: 3em;
  color: $black;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  margin: 30px 0px;
}

h4 {
  font-size: 1.75em;
  color: $black;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  margin: 15px;
}

h5 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: 'Playfair Display', serif;
  font-size: 1.25em;
  line-height: 120%;
  font-weight: 300;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: $beige-clair;
}

ul {
  list-style-type: none;
}

.btn {
  background-color: $green;
  border: 1px solid $green;
  border-radius: 40px;
  color: $beige-clair;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0.5em 1.5em 0.6em;
  width: fit-content;
  cursor: pointer;
  &--clair {
    background-color: $beige-clair;
    color: $green;
    .fa-chevron-right {
      color: $green;
    }
  }
}

@media screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.75em;
  }
  h3 {
    font-size: 2.5em;
  }
  h4 {
    font-size: 1.5em;
  }
}

//***NAVIGATION***//

nav {
  color: $beige-clair;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  .menu {
    flex-grow: 2;
  }
  .menuPrincipal {
    margin: 0;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    .menuPrincipalLi {
      padding: 0px 15px;
      font-size: 1.25em;
      font-family: 'Playfair Display', serif;
    }
  }
}

.logo {
  padding: 0 30px;
  font-size: 30px;
  color: $beige-clair;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  margin-bottom: 10px;
}

.fas-wrapper {
  height: 32px;
  margin-right: 30px;
  .fa-search,
  .fa-shopping-bag, .fa-bars {
    font-size: 25px;
    padding: 0px 15px;
    font-family: 'FontAwesome';
    color: $beige-clair;
    cursor: pointer;
  }
  .fa-bars {
    display: none;
  }
}

.heading-wrapper-centered {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3.5em;
  height: 340px;
  text-align: center;
}

@media screen and (max-width: 991px){
  nav {
   height: 60px;
   justify-content: space-between;
   .menu {
    display: none;
    }
  }
  .logo {
    margin: auto;
  }
  .fas-wrapper { 
    .fa-search {
      display: none;
    }
    .fa-bars {
      display: inline-block;
    }
  }
}

//***HERO SECTION***//

.main-hero-section {
  position: relative;
  height: 1000px;
  .hero-bcg-wrapper {
    position: absolute;
    background: url('./img/img-accueil/boutique-plantes.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 1000px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .titleContent {
    position: absolute;
    width: 790px;
    top: 500px;
    padding-left: 60px;
  }
}

@media screen and (max-width: 991px){
  .main-hero-section {
    .titleContent {
    width: 500px;
    }
  }
}

@media screen and (max-width: 768px){
  .main-hero-section {
    .titleContent {
    width: 400px;
    }
  }
}

//***REVIEW-RUBAN***//

.review-ruban {
  background-color: $beige-rose;
  height: 80px;
  width: 70%;
  z-index: 1;
  position: absolute;
  left: 15%;
  bottom: -40px;
  text-align: center;
  p {
    margin-top: 25px;
  }
}

.stars-block {
  margin: 0px 10px;
}
.fa-star {
  color: $star;
  font-size: 24px;
}

//***CONCEPT SECTION***//

.concept-section {
  background-color: $beige-clair;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12.5em;
  .heading-wrapper-centered {
    position: relative;
    z-index: 1;
}
  .btn--clair {
    right: 45%;
  }
}

.relative-container {
  position: relative;
  max-width: 1600px;
}

.concept-image-container {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  &--1 {
    top: -140px;
    left: 10px;
  }
  &--2 {
    bottom: 90px;
    left: 160px;
  }
  &--3 {
    top: 0px;
    right: 0px;
  }
}

//***BEST SELLER SECTION***//

.best-sellers-section {
  background-color: $beige-clair;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 70px;
  margin: 50px 0px;
}

.description-best-sellers-section {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.btn--best-seller {
  margin-top: 2.5em;
}

.wrapper-best-sellers-selection {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.best-seller-product {
  margin-top: 10px;
  padding: 0px 5px;
}

.content-best-seller {
  margin-top: 20px;
}

.best-seller-img {
  width: 100%;
  min-width: 300px;
}

.arrow-wrapper {
  position: absolute;
  top: -20px;
  right: 0px;
  display: flex;
  .arrows {
    padding: 0px 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 991px){
  .best-sellers-section {
  flex-wrap: wrap;
  }
  .btn--best-seller {
  margin-top: 2em;
  }
}

//***TESTIMONIAL SECTION***//

.testimonial-section {
  background-color: $beige-rose;
  position: relative;

  display: flex;
  justify-content: center;
  margin: 150px 0px;
}

/*.testimonial-split-img {
}*/

.testimonial-split-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.testimonial-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .testimonial-paragraph {
    text-align: center;
  }
  .testimonial-user {
    margin-top: 20px;
    text-transform: uppercase;
  }
  .slider-testimonial {
    display: flex;
    justify-content: space-between;
    height: 12px;
    margin-top: 20px;

    .slider-dot {
      border: 1px solid $black;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      margin: 0px 3px;
      &--active {
        background-color: $black;
      }
    }
  }
}

//***EXPLORE PRODUCTS SECTION***//

.explore-products-section {
  background-color: $beige-clair;
  position: relative;
  width: 1450px;
  margin: 100px auto;
  .explore-products-heading {
    margin-bottom: 40px;
  }
}

.explore-products-wrapper {
  display: flex;
  justify-content: space-around;
}

.explore-product-category {
  width: 470px;
  height: 740px;
  /*.explore-product-img {
  }*/
  .explore-product-category-title {
    text-align: center;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 15px;
    &--plantes {
      background-color: rgb(248, 236, 223);
    }
    &--cactus {
      background-color: rgb(224, 230, 227);
    }
    &--fleurs-sechees {
      background-color: rgb(239, 239, 240);
    }
  }
}

//***INSTAGRAM SECTION***//

.instagram-section {
  background-color: $beige-clair;
}

.divider-line {
  width: 24px;
  height: 2px;
  margin: 2em auto;
  background-color: #8e9373;
}

.instagram-grid {
  position: relative;
  height: 500px;
  width: 80%;
  margin: 100px auto;
}

.ig-image {
  position: absolute;
  &--01 {
    /*width: 112px;*/
    left: 0;
    top: -180px;
    right: auto;
    bottom: auto;
    width: 7.5em;
  }
  &--02 {
    /*width: 240px;*/
    left: 140px;
    top: -140px;
    right: auto;
    bottom: auto;
    z-index: 2;
    width: 16em;
  }
  &--03 {
    /*width: 255px;*/
    left: auto;
    top: -32%;
    right: 0;
    bottom: auto;
    width: 17em;
  }
  &--04 {
    /*width: 300px;*/
    left: 0;
    top: auto;
    right: auto;
    bottom: 0;
    width: 20em;
  }
  &--05 {
    /*width: 345px;*/
    left: auto;
    top: 0;
    right: 21%;
    bottom: auto;
    z-index: 2;
    width: 16em;
  }
  &--06 {
    /*width: 315px;*/
    left: 32%;
    top: auto;
    right: auto;
    bottom: 56px;
    width: 23em;
  }
  &--07 {
    /*width: 240px;*/
    left: auto;
    top: auto;
    right: 48px;
    bottom: 0;
    width: 21em;
  }
}

//***FOOTER***//

footer {
  background-color: $green;
  color: $beige-clair;
  padding: 4.5em 2em 1em 2em;
  .logo {
    padding: 0px;
  }
}

.footer-container {
  max-width: 1600px;
  margin: auto;
}

.footer-top-row {
  display: flex;
  justify-content: space-between;
  .extra-padding-right {
    padding-right: 10px;
  }
}

.footer-menu-heading {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid rgba(252, 248, 243, 0.5);
  opacity: 0.9;
}

.footer-mid-row {
  display: flex;
  padding: 3em 0;
  li {
    line-height: 2em;
  }
}

.layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 2.5em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.footer-end-row {
  display: flex;
  justify-content: space-between;
}
