@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  color: #212806;
  background-color: #fcf8f3;
  line-height: 1;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 4.5em;
  color: #fcf8f3;
  font-family: 'Playfair Display', serif;
  margin-bottom: 50px; }

h2 {
  font-size: 3.75em;
  color: #212806;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  margin-bottom: 50px; }

h3 {
  font-size: 3em;
  color: #212806;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  margin: 30px 0px; }

h4 {
  font-size: 1.75em;
  color: #212806;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  margin: 15px; }

a {
  text-decoration: none; }

.btn {
  background-color: #2B390A;
  border: 1px solid #2B390A;
  border-radius: 40px;
  color: #fcf8f3;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0.5em 1.5em 0.6em;
  width: fit-content;
  cursor: pointer; }
  .btn--clair {
    background-color: #fcf8f3;
    color: #2B390A; }
    .btn--clair .fa-chevron-right {
      color: #2B390A; }

nav {
  color: #fcf8f3;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2; }
  nav ul {
    list-style-type: none; }
  nav .menu {
    flex-grow: 2; }
  nav .logo {
    padding: 0 30px;
    font-size: 30px;
    color: #fcf8f3;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    margin-bottom: 10px; }
  nav .menuPrincipal {
    margin: 0;
    line-height: 40px;
    display: flex;
    flex-direction: row; }
    nav .menuPrincipal .menuPrincipalLi {
      padding: 0px 15px;
      font-size: 18px;
      font-family: 'Playfair Display', serif; }

.fas-wrapper {
  height: 32px;
  margin-right: 30px; }
  .fas-wrapper .fa-search, .fas-wrapper .fa-shopping-bag {
    font-size: 25px;
    padding: 0px 15px;
    font-family: 'FontAwesome';
    color: #fcf8f3;
    cursor: pointer; }

.heading-wrapper-centered {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3.5em;
  height: 340px;
  text-align: center; }

.main-hero-section {
  position: relative;
  height: 1000px; }
  .main-hero-section .hero-bcg-wrapper {
    position: absolute;
    background: url("./img/boutique-plantes.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 1000px;
    left: 0;
    right: 0;
    bottom: 0; }
  .main-hero-section .titleContent {
    position: absolute;
    width: 40%;
    top: 500px;
    padding-left: 60px; }

.review-ruban {
  background-color: #f8f0e7;
  height: 80px;
  width: 70%;
  z-index: 1;
  position: absolute;
  left: 15%;
  bottom: -40px;
  text-align: center; }
  .review-ruban p {
    margin-top: 25px; }

.stars-block {
  margin: 0px 10px; }

.fa-star {
  color: goldenrod;
  font-size: 24px; }

.concept-section {
  background-color: #fcf8f3;
  position: relative;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .concept-section .btn--clair {
    right: 45%; }

.concept-image-container {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%; }
  .concept-image-container--1 {
    background-image: url("./img/cercle-femme.jpg");
    top: 80px;
    left: 150px; }
  .concept-image-container--2 {
    background-image: url("./img/cercle-home-jungle.jpg");
    bottom: 90px;
    left: 310px; }
  .concept-image-container--3 {
    background-image: url("./img/cercle-plante.jpg");
    top: 200px;
    right: 150px; }

.best-sellers-section {
  background-color: #fcf8f3;
  position: relative;
  height: 550px;
  display: flex;
  flex-direction: row;
  padding-left: 70px;
  margin: 50px 0px; }

.description-best-sellers-section {
  display: flex;
  flex-direction: column; }

.btn--best-seller {
  position: absolute;
  bottom: 30px; }

.wrapper-best-sellers-selection {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center; }

.best-seller-product {
  margin-top: 10px; }

.content-best-seller {
  margin-top: 20px; }

.best-seller-img {
  background-image: url("./img/plantes5-carre430.jpg");
  height: 400px;
  width: 430px; }

.arrow-wrapper {
  position: absolute;
  top: 0px;
  right: 50px;
  display: flex; }
  .arrow-wrapper .arrows {
    padding: 0px 10px;
    cursor: pointer; }

.testimonial-section {
  background-color: #f8f0e7;
  position: relative;
  height: 750px;
  display: flex;
  justify-content: center;
  margin: 150px 0px; }

.testimonial-split-img {
  background: url("./img/testimonial-plants.jpeg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 50%; }

.testimonial-split-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%; }

.testimonial-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .testimonial-wrapper .testimonial-paragraph {
    text-align: center; }
  .testimonial-wrapper .testimonial-user {
    margin-top: 20px;
    text-transform: uppercase; }
  .testimonial-wrapper .slider-testimonial {
    display: flex;
    justify-content: space-between;
    height: 12px;
    margin-top: 20px; }
    .testimonial-wrapper .slider-testimonial .slider-dot {
      border: 1px solid #212806;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      margin: 0px 3px; }
      .testimonial-wrapper .slider-testimonial .slider-dot--active {
        background-color: #212806; }

.explore-products-section {
  background-color: #fcf8f3;
  position: relative;
  height: 740px;
  width: 1450px;
  margin: 100px auto; }
  .explore-products-section .explore-products-heading {
    margin-bottom: 40px; }

.explore-products-wrapper {
  display: flex;
  justify-content: space-around; }

.explore-product-category {
  width: 470px;
  height: 740px; }
  .explore-product-category .explore-product-img {
    width: 470px;
    height: 520px; }
    .explore-product-category .explore-product-img--plantes {
      background: url(./img/explore-plantes-470.jpg) no-repeat;
      background-position-y: -60px; }
    .explore-product-category .explore-product-img--cactus {
      background: url(./img/explore-cactus-470.jpg) no-repeat; }
    .explore-product-category .explore-product-img--fleurs-sechees {
      background: url(./img/explore-fleurs-470.jpg) no-repeat center; }
  .explore-product-category .explore-product-category-title {
    text-align: center;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 15px; }
    .explore-product-category .explore-product-category-title--plantes {
      background-color: #f8ecdf; }
    .explore-product-category .explore-product-category-title--cactus {
      background-color: #e0e6e3; }
    .explore-product-category .explore-product-category-title--fleurs-sechees {
      background-color: #efeff0; }

.instagram-section {
  background-color: #fcf8f3;
  position: relative;
  height: 400px; }

.divider-line {
  width: 24px;
  height: 2px;
  margin: 2em auto;
  background-color: #8e9373; }

footer {
  background-color: #2B390A;
  position: relative;
  height: 100px; }

/*# sourceMappingURL=styles.css.map */
