//font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//colors
$green: #2B390A;
$kaki: #8e9373;
$beige-rose: #f8f0e7;
$beige-fonce:#e0cfba;
$beige-clair: #fcf8f3;
$black : #212806;
$star : goldenrod;

body {
  margin: 0;
  padding: 0;
  color: $black;
  background-color: $beige-clair;
  line-height: 1;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 70px;
    color: $beige-clair ;
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 60px;
    color: $black;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
}

h3 {
    font-size: 45px;
    color: $black;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    margin-bottom: 10px;
}

h4 {
  font-size: 25px;
  color: $black;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  margin: 15px;
}

.btn {
  background-color: $green;
  border: 1px solid $green;
  border-radius: 40px;
  color: $beige-clair;
  font-size:1.25rem;
  text-decoration: none;
  padding: 0.5em 1.5em 0.6em;
  width: fit-content;
  cursor: pointer;
  &--clair {
    background-color: $beige-clair;
    color: $green;
  .fa-chevron-right {
    color: $green;
  }
  }
}

//***NAVIGATION***//
nav {
  color:$beige-clair ;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index:2;
  ul {
    list-style-type: none;
  }
  .menu {
    flex-grow:2;
  }
  .logo {
    padding-left: 30px;
  }
  .menuPrincipal {
    margin: 0;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    .menuPrincipalLi {
      padding: 0px 15px;
      font-size: 18px;
      font-family: 'Playfair Display', serif;
    }
  }
}

.fas-wrapper {
  height: 32px;
  margin-right : 30px;
  .fa-search, .fa-shopping-bag {
  font-size:25px;
  padding: 0px 15px;
  font-family: 'FontAwesome';
  color:$beige-clair;
  cursor: pointer;
  }
}

//***HERO SECTION***//

.main-hero-section {
  position: relative;
  height: 1000px;
  .hero-bcg-wrapper {
  position: absolute;
  background: url('./img/boutique-plantes.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 1000px;
  left: 0;
  right: 0;
  bottom: 0;
  }
  .titleContent {
    position: absolute;
    width:40%;
    top:500px;
    padding-left: 60px;
    
  }
}

//***REVIEW-RUBAN***//

.review-ruban {
  background-color: $beige-rose;
  height: 80px;
  width: 70%;
  z-index: 1;
  position: absolute;
  left: 15%;
  bottom: -40px;
  text-align: center;
  p {
    margin-top: 25px;
  }
}

.stars-block {
  margin: 0px 10px;
}
.fa-star {
  color: $star;
  font-size: 24px;
}

//***CONCEPT SECTION***//

.concept-section {
  background-color: $beige-clair;
  position:relative;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper-concept-section-title {
    width:60%;
    height: 340px;
    text-align: center;
  }
  .btn--clair {
    right: 45%;
  }
}

.concept-image-container {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  &--1 {
    background-image: url("./img/cercle-femme.jpg");
    top: 80px;
    left: 150px;
  }
  &--2 {
    background-image: url("./img/cercle-home-jungle.jpg");
    bottom: 90px;
    left: 310px;
  }
  &--3 {
    background-image: url("./img/cercle-plante.jpg");
    top: 200px;
    right: 150px;
  }
}

//***BEST SELLER SECTION***//

.best-sellers-section {
  background-color: $beige-clair;
  position:relative;
  height: 550px;
  display: flex;
  flex-direction: row;
  padding-left: 70px;
  margin: 50px 0px;
}

.description-best-sellers-section {
  display: flex;
  flex-direction: column;
}

.btn--best-seller {
  position: absolute;
  bottom: 30px;
}

.wrapper-best-sellers-selection {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.best-seller-product {
  margin-top: 10px;
}

.content-best-seller {
  margin-top: 20px;
}

.best-seller-img {
  background-image: url('./img/plantes5-carre430.jpg');
  height:400px;
  width: 430px;

}

.arrow-wrapper {
  position: absolute;
  top: 0px;
  right: 50px;
  display: flex;
  .arrows {
    padding: 0px 10px;
    cursor: pointer;
  }
}

//***TESTIMONIAL SECTION***//

.testimonial-section {
  background-color: $beige-rose;
  position:relative;
  height: 750px;
  display: flex;
  justify-content: center;
  margin: 150px 0px;
}

.testimonial-split-img {
  background: url('./img/testimonial-plants.jpeg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 50%;
}

.testimonial-split-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.testimonial-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .testimonial-paragraph {
      text-align: center;
      
    }
    .testimonial-user {
      margin-top: 20px;
      text-transform: uppercase;
    }
    .slider-testimonial {
      display: flex;
      justify-content: space-between;
      height: 12px;
      margin-top: 20px;

      .slider-dot{
        border: 1px solid $black;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        margin: 0px 3px;
        &--active {
          background-color: $black;
        }
      }
    }
}

//***EXPLORE PRODUCTS SECTION***//

.explore-products-section {
  background-color: $beige-clair;
  position:relative;
  height: 740px;
  width: 1450px;
  margin: 100px auto;
  .explore-products-heading {
    margin-bottom: 40px;
  }
}

.explore-products-wrapper {
  display: flex;
  justify-content: space-around;
}

.explore-product-category {
  width: 470px;
  height: 740px;
  .explore-product-img {
    background-size: cover;
    width: 470px;
    height: 520px;
    &--plantes {
      background : url(./img/explore-plantes-470.jpg) no-repeat;
    }
    &--cactus {
      background : url(./img/explore-cactus-470.jpg) no-repeat;
    }
    &--fleurs-sechees {
      background : url(./img/fleurs-sechees-X.jpg) no-repeat;
    }
  }
  .explore-product-category-title {
    text-align: center;
  }
}

//***INSTAGRAM SECTION***//

.instagram-section {
  background-color: $beige-clair;
  position:relative;
  height: 400px;
}

//***FOOTER***//

footer {
  background-color:$green;
  position:relative;
  height: 100px;
}