@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  color: #212806;
  background-color: #fcf8f3;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 4em;
  color: #212806;
  font-family: 'Playfair Display', serif;
  margin-bottom: 50px; }

h2 {
  font-size: 3.75em;
  color: #212806;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  margin-bottom: 50px; }

h3 {
  font-size: 3em;
  color: #212806;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: .4em; }

h4 {
  font-size: 1.5em;
  color: #212806;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  margin: 15px; }

h5 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  line-height: 120%;
  font-weight: 300; }

p {
  margin-top: .5em;
  margin-bottom: 1em;
  color: rgba(33, 40, 6, 0.8);
  font-size: 1.2em;
  line-height: 160%; }

.all-caps {
  padding-bottom: 1em;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase; }

a {
  text-decoration: none;
  color: #fcf8f3; }

.black {
  color: #212806; }

ul {
  list-style-type: none; }

.btn {
  background-color: #212806;
  border: 1px solid #212806;
  border-radius: 40px;
  color: #fcf8f3;
  font-size: 1.25em;
  text-decoration: none;
  padding: 0.5em 1.5em 0.6em;
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center; }
  .btn .btn-text, .btn .btn-chevron {
    transition: transform 450ms; }
  .btn .btn-chevron {
    margin-left: 1em; }
  .btn--clair {
    background-color: #fcf8f3;
    color: #212806; }
    .btn--clair .fa-chevron-right {
      color: #212806; }
  .btn:hover .btn-text {
    transform: translate3d(-4px, 0px, 0px); }
  .btn:hover .btn-chevron {
    transform: translate3d(4px, 0px, 0px); }

@keyframes img-zoom {
  0% {
    transform: scale3d(1, 1, 1); }
  100% {
    transform: scale3d(1.05, 1.05, 1); } }
@keyframes rotate-45deg {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(45deg); } }
@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
/*CONTAINER*/
.section {
  padding-top: 6.5em;
  padding-bottom: 6.5em; }

.no-margin-top {
  padding-top: 0; }

.margin-bottom-9-5 {
  padding-bottom: 9.5em; }

.container {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5em;
  padding-left: 5em; }

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1.5em;
  text-align: center; }

nav {
  color: #212806;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
  background-color: #f9e9e0;
  transition: 0.4s all;
  will-change: transform; }

.show-nav {
  height: 100px !important; }

.menu {
  flex-grow: 2; }

.menuPrincipal {
  display: flex;
  font-size: 1.2rem; }
  .menuPrincipal a {
    margin-right: 30px;
    font-family: 'Playfair Display', serif;
    width: 120px; }

.nav-menu {
  margin: 0;
  line-height: 40px;
  display: flex;
  flex-direction: row; }

.dropdown-title {
  padding: 0px 15px;
  font-size: 1.25em;
  font-family: 'Playfair Display', serif; }
  .dropdown-title:hover {
    font-style: italic; }
  .dropdown-title:hover .fa-plus {
    animation: rotate-45deg 1000ms forwards; }

.logo-container {
  margin-left: 40px;
  margin-right: 40px;
  width: 240px; }
  .logo-container img {
    width: 100%; }

.logo {
  font-size: 2em;
  color: #fcf8f3;
  font-family: 'Playfair Display', serif;
  font-weight: 100; }

.fas-wrapper {
  height: 32px;
  margin-right: 30px;
  display: flex;
  align-items: center; }
  .fas-wrapper .fa-bars {
    display: none; }

.fa-search, .fa-shopping-bag, .fa-bars {
  font-size: 25px;
  padding: 0px 15px;
  font-family: 'FontAwesome';
  color: #fcf8f3;
  cursor: pointer; }

.fa-shopping-bag {
  padding-bottom: 2px; }

.shop-icon-ctn {
  position: relative; }

.circle {
  background-color: black;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: 8px;
  display: none; }

.show-circle {
  display: block; }

.fa-plus {
  padding-left: 5px; }

.heading-wrapper-centered {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3.5em;
  height: 340px;
  text-align: center; }

.dark-color {
  color: #212806;
  font-weight: 500; }

.menuPrincipalLi:hover {
  font-style: italic; }

/* SHOPPING LIST */
.shopping-list {
  position: absolute;
  right: 0;
  top: 70px;
  background-color: #fcf8f3;
  height: 0;
  overflow: hidden;
  width: 320px;
  padding-left: 15px; }

.shopping-list h3 {
  font-size: 22px;
  padding-top: 15px;
  padding-bottom: 10px; }

.shopping-list-item-wrapper {
  display: flex;
  gap: 10px;
  padding-bottom: 10px; }

.shop-img-ctn {
  width: 80px; }

.shop-img-ctn img {
  width: 100%; }

.shopping-list-item-wrapper h4 {
  margin-left: 0;
  font-size: 18px; }

.shopping-list-item-wrapper span {
  font-size: 14px; }

.show-shop-list {
  height: fit-content !important; }

/**HERO SECTION**/
.hero-section {
  padding-top: 15em;
  padding-bottom: 6.5em; }

.full-width {
  padding-right: 5em;
  padding-left: 5em; }

.hero-header-wrapper {
  width: 100%;
  padding-bottom: 3.5em;
  border-bottom: 1px solid rgba(66, 73, 40, 0.5); }

.width-text {
  max-width: 350px; }

.feature-paragraph {
  font-size: 1.25em; }

.hero-mid-split-wrapper {
  display: flex;
  min-height: 70vh;
  justify-content: flex-end;
  position: relative; }

.hero-split-content {
  padding-right: 3em;
  padding-left: 5em;
  padding-bottom: 3.5em; }

.no-margin-bottom {
  padding-bottom: 0; }

.hero-split-left-column {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 70vh;
  z-index: 3;
  transition: width 1.4s ease-in-out; }

.hero-split-left-column--products {
  background-color: #f9e9e0; }

.hero-split-left-column--about {
  background-color: #212806; }
  .hero-split-left-column--about h1, .hero-split-left-column--about p {
    color: white; }

.hero-split-right-column {
  position: relative;
  overflow: hidden;
  width: 70%; }

.grow-width {
  width: 35%; }

.split-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%; }

.split-image--products {
  background-image: url("../images/img-produits/plantesCouv.jpg"); }

.split-image--about {
  background-image: url("../images/img-about/aPropos.jpg"); }

footer {
  background-color: #212806;
  color: rgba(252, 248, 243, 0.8);
  padding: 4.5em 2em 1em 2em; }
  footer .logo {
    padding: 0px; }
  footer a {
    font-size: 1em; }

.footer-container {
  max-width: 1600px;
  margin: auto; }

.footer-top-row {
  display: flex;
  justify-content: space-between; }
  .footer-top-row .extra-padding-right {
    padding-right: 10px; }

.logo-container--footer {
  margin: 0;
  width: 300px;
  height: 50px;
  position: relative;
  overflow: hidden; }

.logo-container--footer img {
  position: absolute;
  top: -123px;
  left: -6px; }

.footer-social-wrapper a {
  color: rgba(252, 248, 243, 0.8); }
  .footer-social-wrapper a:hover {
    color: white; }

.footer-menu-heading {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid rgba(252, 248, 243, 0.5);
  opacity: 0.9; }

.footer-mid-row {
  display: flex;
  padding: 3em 0; }
  .footer-mid-row li {
    line-height: 2em;
    padding-bottom: .5em;
    color: rgba(252, 248, 243, 0.8); }
    .footer-mid-row li:hover {
      color: white; }

.layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 2.5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto; }

.footer-end-row {
  display: flex;
  justify-content: space-between; }
  .footer-end-row .footer-p {
    font-size: 1em;
    color: rgba(252, 248, 243, 0.8); }

.main-hero-section {
  position: relative;
  height: 110vh; }
  .main-hero-section .hero-bcg-wrapper {
    position: absolute;
    background: url("../images/img-accueil/boutique-plantes.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 110vh;
    left: 0;
    right: 0;
    top: 0; }
  .main-hero-section .titleContent {
    position: absolute;
    width: 790px;
    top: 41%;
    padding-left: 60px; }
  .main-hero-section .main-hero-title {
    color: #fcf8f3; }

.review-ruban {
  background-color: #f8f0e7;
  width: 70%;
  z-index: 1;
  position: absolute;
  left: 15%;
  bottom: -40px;
  text-align: center;
  padding: 1em 0; }

.stars-block {
  margin: 0px 10px; }

.fa-star {
  color: goldenrod;
  font-size: 24px; }

.concept-section {
  background-color: #fcf8f3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16.5em; }
  .concept-section .heading-wrapper-centered {
    position: relative;
    z-index: 1; }
  .concept-section .btn--clair {
    right: 45%; }

.relative-container {
  position: relative;
  max-width: 1600px; }

.text-centered {
  text-align: center;
  display: inline-block; }

.concept-image-container {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%; }
  .concept-image-container:hover {
    animation: img-zoom 1000ms forwards; }
  .concept-image-container--1 {
    top: -140px;
    left: 10px; }
  .concept-image-container--2 {
    bottom: 90px;
    left: 160px; }
  .concept-image-container--3 {
    top: 0px;
    right: 0px; }

.product-slider-section {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 2em; }
  .product-slider-section--beige {
    background-color: #fcf8f3; }
  .product-slider-section--pink {
    background-color: #f8f0e7; }

.description-product-slider-section {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  padding-bottom: 2em;
  padding-top: 2.5em; }

.btn--product-slider {
  margin-top: 2.5em; }

#carousel-ctn {
  width: 70vw;
  overflow: hidden; }

.product-slider-wrapper {
  display: flex;
  gap: 0.5em;
  align-items: baseline;
  text-align: center;
  position: relative; }
  .product-slider-wrapper div {
    transition: all 1s ease-in-out; }

.product-slider {
  margin-top: 10px; }
  .product-slider .product-slider-img-wrapper {
    overflow: hidden; }
    .product-slider .product-slider-img-wrapper .product-slider-img {
      width: 100%;
      min-width: 300px; }
    .product-slider .product-slider-img-wrapper .no-min-width {
      min-width: 140px; }
  .product-slider .img-wrapper-width {
    width: 440px; }
  .product-slider:hover .title-product-slider {
    font-style: italic; }
  .product-slider:hover .product-slider-img {
    animation: img-zoom 1000ms forwards; }

.category-product-slider {
  text-transform: uppercase;
  font-size: 1rem; }

.content-product-slider {
  margin-top: 20px;
  color: #212806; }

.arrow-wrapper {
  margin-right: 0;
  margin-left: auto;
  width: fit-content;
  display: flex; }
  .arrow-wrapper .arrows {
    padding: 0px 10px; }
  .arrow-wrapper .fa-chevron-left, .arrow-wrapper .fa-chevron-right {
    cursor: pointer; }

.testimonial-section {
  background-color: #f8f0e7;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 150px 0px; }

.testimonial-split-img-container {
  width: 50%;
  overflow: hidden; }
  .testimonial-split-img-container .testimonial-split-img {
    width: 100%;
    height: 100%;
    background-image: url(../images/img-accueil/testimonial-plants-917px.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; }

.testimonial-split-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%; }

.testimonial-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6.5em 5em; }
  .testimonial-wrapper .testimonial-paragraph {
    text-align: center;
    padding-top: 2em; }
  .testimonial-wrapper .testimonial-user {
    margin-top: 20px;
    text-transform: uppercase; }
  .testimonial-wrapper .slider-testimonial {
    display: flex;
    justify-content: space-between;
    height: 12px;
    margin-top: 20px; }
    .testimonial-wrapper .slider-testimonial .slider-dot {
      border: 1px solid #212806;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      margin: 0px 3px; }
      .testimonial-wrapper .slider-testimonial .slider-dot--active {
        background-color: #212806; }

.explore-products-section {
  background-color: #fcf8f3;
  position: relative;
  margin: 100px auto; }
  .explore-products-section .explore-products-heading {
    margin-bottom: 40px;
    padding: 0em 5em; }

.explore-products-wrapper {
  display: flex;
  justify-content: center;
  padding: 0em 5em; }

.category-image-wrapper {
  overflow: hidden; }
  .category-image-wrapper .explore-product-img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.explore-product-category {
  padding: 0em 0.5em; }
  .explore-product-category .explore-product-category-title {
    text-align: center;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 15px; }
    .explore-product-category .explore-product-category-title--plantes {
      background-color: #f8ecdf; }
    .explore-product-category .explore-product-category-title--cactus {
      background-color: #e0e6e3; }
    .explore-product-category .explore-product-category-title--fleurs-sechees {
      background-color: #efeff0; }
  .explore-product-category:hover .explore-product-category-title {
    font-style: italic; }
  .explore-product-category:hover .explore-product-img {
    animation: img-zoom 1000ms forwards; }

.instagram-section {
  background-color: #fcf8f3; }

.rotate {
  animation: rotation 30s infinite linear; }

.divider-line {
  width: 24px;
  height: 2px;
  margin: 2em auto;
  background-color: #8e9373; }

.instagram-grid {
  position: relative;
  height: 500px;
  width: 80%;
  margin: 100px auto; }

.ig-image {
  position: absolute; }
  .ig-image:hover {
    animation: img-zoom 1000ms forwards; }
  .ig-image--01 {
    left: 0;
    top: -180px;
    right: auto;
    bottom: auto;
    width: 7.5em; }
  .ig-image--02 {
    left: 140px;
    top: -140px;
    right: auto;
    bottom: auto;
    z-index: 2;
    width: 16em; }
  .ig-image--03 {
    left: auto;
    top: -32%;
    right: 0;
    bottom: auto;
    width: 17em; }
  .ig-image--04 {
    left: 0;
    top: auto;
    right: auto;
    bottom: 0;
    width: 20em; }
  .ig-image--05 {
    left: auto;
    top: 0;
    right: 21%;
    bottom: auto;
    z-index: 2;
    width: 16em; }
  .ig-image--06 {
    left: 32%;
    top: auto;
    right: auto;
    bottom: 56px;
    width: 23em; }
  .ig-image--07 {
    left: auto;
    top: auto;
    right: 48px;
    bottom: 0;
    width: 21em; }

/*PRODUCT BIG WRAPPER*/
.product-description-wrapper {
  display: flex;
  position: relative;
  align-items: flex-start; }

/*GO BACK*/
.go-back-wrapper-a {
  display: flex;
  padding: 0.5em 1.5em 0.6em 0;
  font-size: 1em;
  width: fit-content; }

.go-back-wrapper-a:hover .btn-chevron {
  transform: translate3d(-4px, 0px, 0px); }

.go-back-text {
  padding-left: 0.5em;
  font-size: 0.8em;
  text-transform: uppercase; }

.tiny-chevron {
  font-size: 0.8em; }

/*PRODUCT IMAGES*/
.product-description-images-wrapper {
  width: 50%;
  max-width: 700px; }

.product-image-description {
  width: 100%;
  padding-bottom: 1em; }

.image-gallery-collection-list.mobile {
  display: none; }

/*PRODUCT CONTENT DESCRIPTION AND SHOP*/
.product-description-content-wrapper {
  position: sticky;
  top: 80px;
  width: 50%;
  max-width: 600px;
  padding-bottom: 1em;
  padding-left: 5em; }

.radio-group-option {
  display: flex;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 1em; }

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700; }

.option-label {
  padding-left: .5em;
  font-size: 1em;
  line-height: 120%;
  font-weight: 400;
  display: block;
  margin-bottom: 5px; }

.option-button {
  display: inline-block;
  margin-right: 0;
  padding: .75em 1.5em;
  border: #212806 solid 1px;
  background-color: transparent;
  transition: color .2s,background-color .2s;
  color: rgba(33, 40, 6, 0.8); }

.option-button:first-child {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px; }

.option-button:nth-child(even) {
  border-left-color: transparent; }

.option-button:nth-child(3) {
  border-left: 0; }

.option-button:last-child {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px; }

.option-button.option-selected {
  background-color: #8e9373;
  color: #fcf8f3; }

.product-price-wrapper {
  border-bottom: solid 1px #212806;
  display: flex;
  margin-bottom: 1em;
  padding-bottom: .75em; }

.quantity-wrapper {
  display: flex;
  padding-right: 1em;
  min-height: 38px;
  margin-right: 2em;
  padding-right: .5em;
  padding-left: .5em;
  align-items: center;
  border-radius: 40px;
  background-color: #f5eee6; }

.quantity-decrement, .quantity-increment {
  display: flex;
  width: 2em;
  justify-content: center;
  cursor: pointer; }

.quantity-number {
  width: 38px;
  margin-bottom: 0;
  padding: .5em 0;
  border-style: none;
  background-color: transparent;
  text-align: center;
  font-size: 1rem; }

/*Cacher  arrow quantity number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

/*cacher input focus border black*/
*:focus {
  outline: none; }

.product-addToCart-wrapper {
  display: flex; }

/*ACCORDION WRAPPER*/
.accordion-wrapper {
  margin-top: 1.5em; }

.accordion-item {
  border-top: 1px solid rgba(66, 73, 40, 0.5); }

.accordion-title {
  display: flex;
  padding-top: .75em;
  padding-bottom: .75em;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25em;
  cursor: pointer; }

.expand-accordion {
  position: relative;
  text-align: right; }

.bold {
  font-weight: 500; }

.less {
  position: absolute;
  left: -11px;
  top: -25px;
  display: none;
  font-weight: 500;
  font-size: 30px; }

.accordion-content {
  transition: all 0.4s ease-in-out;
  height: 0;
  overflow: hidden; }

.accordion-ul {
  list-style-type: circle;
  padding-left: 2em;
  padding-bottom: 1em; }

.more {
  display: none; }

.show-content {
  display: block !important; }

.show-height {
  height: 90px !important; }

/* FILTER SECTION */
.filter-section {
  background-color: #f8f0e7;
  padding: 1em;
  display: flex;
  justify-content: space-between; }
  .filter-section .fa-xmark {
    display: none;
    font-size: 1.8rem;
    margin-left: auto;
    cursor: pointer; }
    .filter-section .fa-xmark:hover {
      animation: rotate-45deg 300ms forwards; }
  .filter-section ul {
    display: flex;
    padding-bottom: 1em;
    padding-top: 0.2em; }
  .filter-section div {
    margin-top: 1.2em; }
  .filter-section label {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 5px; }
  .filter-section select {
    height: 2.5rem;
    font-size: 1.2rem;
    padding-left: 5px; }
  .filter-section span {
    padding-right: 10px;
    padding-top: 1.4em;
    font-size: 1.2rem; }
  .filter-section li {
    display: inline-block; }
  .filter-section input {
    visibility: hidden; }
  .filter-section input:checked + label {
    background: #d4b9b9; }

.filter-section ~ .section {
  padding-top: 2.5em; }

ul label:nth-child(2) {
  background-color: #e4d0ba; }

#fa-bars-filter {
  display: none;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 2.5em;
  width: fit-content; }

.show-filter-mobile {
  width: 70% !important;
  transform: translateX(0%) !important; }

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 60px;
  font-size: 1.4rem; }
  .pagination button {
    color: #212806;
    padding: 5px 10px;
    transition: background-color .3s;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    background-color: #fcf8f3; }
  .pagination button.active {
    background-color: #212806;
    color: white; }
  .pagination button:hover:not(.active) {
    background-color: #8e9373;
    color: white; }
  .pagination span {
    padding-left: 5px;
    padding-right: 5px; }

.flex-ctn {
  display: flex;
  margin: 40px 80px;
  gap: 80px; }

.side-img-ctn img {
  width: 100%; }

.side-img-ctn {
  margin-top: 60px;
  width: 1200px;
  position: relative; }

.about-img-ctn--1 {
  width: 500px; }

.about-img-ctn--2 {
  width: 300px;
  position: absolute;
  top: 200px;
  left: 360px;
  transform: translate3d(0px, 0%, 0px);
  transform-style: preserve-3d;
  transition: transform 1s; }

.nav-hider {
  height: 60px;
  width: 100%;
  background-color: #f9e9e0; }

.about-section {
  padding-left: 150px; }
  .about-section h1 {
    margin-bottom: 0px;
    font-size: 3.5em; }
  .about-section h2 {
    margin-bottom: 40px;
    margin-top: 60px;
    font-size: 3em; }
  .about-section a {
    margin-top: 60px;
    margin-bottom: 60px;
    display: block; }

.change-height {
  transform: translate3d(0px, -20%, 0px); }

.error-background {
  width: 100%;
  height: 100vh;
  background-image: url("../images/leaves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .error-background h1 {
    color: white;
    font-size: 16em;
    text-align: center; }
  .error-background h4 {
    color: white;
    font-size: 2em;
    text-align: center; }

@media screen and (max-width: 1299px) {
  /* WELCOME PAGE */
  .concept-image-container--1 {
    top: -100px;
    left: 10px; }

  .category-image-wrapper {
    height: 350px; }

  /* ABOUT PAGE */
  .about-img-ctn--1 {
    width: 420px; }

  .about-img-ctn--2 {
    width: 210px;
    left: 320px; }

  .about-section {
    padding-left: 100px; } }
@media screen and (max-width: 1260px) {
  /* CATALOGUE */
  .filter-section select {
    font-size: 1rem; }
  .filter-section label {
    font-size: 1rem; }
  .filter-section span {
    font-size: 1rem; } }
@media screen and (max-width: 1100px) {
  /* ABOUT PAGE */
  .about-img-ctn--1 {
    width: 340px; }

  .about-img-ctn--2 {
    width: 210px;
    left: 320px;
    top: 600px;
    left: 65px; }

  .about-section {
    padding-left: 0px; } }
@media screen and (max-width: 991px) {
  /* BASE */
  body {
    font-size: 16px; }

  h1 {
    font-size: 3.5em; }

  h2 {
    font-size: 2.5em; }

  h3 {
    font-size: 2.2em; }

  h4 {
    font-size: 1.5em; }

  .all-caps {
    padding-bottom: .5em;
    font-size: .875em; }

  .btn {
    font-size: 1.1em; }

  li, p {
    line-height: 140%;
    font-size: 1.2em; }

  /* CONTAINER */
  .container {
    padding-right: 20px;
    padding-left: 20px; }

  .products-list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }

  /* HEADER */
  .width-70 {
    width: 100%; }

  .feature-paragraph {
    font-size: 1.25em; }

  .hero-mid-split-wrapper {
    flex-wrap: wrap; }

  .hero-split-left-column {
    width: 50%;
    padding-top: 0;
    padding-bottom: 0;
    height: 60vh;
    transition: width 0s; }

  .hero-split-right-column {
    width: 50%;
    height: 60vh; }

  .hero-split-content {
    padding-right: 2em;
    padding-bottom: 0;
    padding-left: 2em; }

  /* NAV */
  nav {
    height: 60px;
    justify-content: space-between; }
    nav .menu {
      position: absolute;
      top: 50px;
      background-color: inherit;
      padding-bottom: 10px;
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: height 1s; }
    nav .menuPrincipal {
      margin: auto;
      width: fit-content;
      display: block;
      padding-top: 10px; }

  .logo-container .logo {
    font-size: 1.75em; }

  .fas-wrapper .fa-bars {
    display: inline-block; }
  .fas-wrapper .fa-search {
    display: none; }

  .shopping-list {
    top: 60px; }
    .shopping-list h3 {
      font-size: 1.6em; }
    .shopping-list h4 {
      font-size: 1.2em; }
    .shopping-list span {
      font-size: 14px; }

  /* CATALOGUE */
  .filter-section span {
    padding-top: 2.6em; }
  .filter-section div {
    margin-top: 1.7em; }

  /* PRODUCT ITEM */
  .product-description-content-wrapper {
    padding-left: 1em;
    padding-right: 1em; }

  .quantity-wrapper {
    margin-right: 1em; }

  /* WELCOME PAGE */
  .main-hero-section .titleContent {
    width: 500px; }

  .btn--product-slider {
    margin-top: 2em; }

  .product-slider-section {
    margin-left: 2em;
    margin-right: 2em; }

  .testimonial-split-img-container {
    width: 100%;
    height: 50vh;
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 2em; }

  .testimonial-split-content {
    width: 100%; }

  .explore-products-section .explore-products-heading {
    padding: 0em 2em; }

  .explore-products-wrapper {
    padding: 0em 1em; }

  .heading-wrapper-centered--insta {
    width: 100%;
    padding-bottom: 0em; }

  .instagram-grid {
    height: 320px; }

  .ig-image--01 {
    top: -40px;
    width: 10%; }
  .ig-image--02 {
    left: 90px;
    top: -20px;
    width: 18%; }
  .ig-image--03 {
    width: 20%; }
  .ig-image--04 {
    width: 23%; }
  .ig-image--05 {
    width: 16%; }
  .ig-image--06 {
    width: 28%; }
  .ig-image--07 {
    width: 25%; }

  /* FOOTER */
  footer a {
    font-size: 1em; } }
@media screen and (max-width: 900px) {
  .product-slider-wrapper {
    width: 60vw; }

  /* ABOUT */
  .hero-mid-split-wrapper {
    min-height: 0; }

  .flex-ctn {
    margin: 0px 20px;
    gap: 40px; }

  .about-img-ctn--2 {
    top: 550px; } }
@media screen and (max-width: 767px) {
  /* CONTAINER */
  .products-list {
    grid-row-gap: 3.5em; }

  /* WELCOME CONCEPT */
  .concept-section h2 {
    margin-bottom: 36px; }

  .concept-image-container--1 {
    top: -197px; }

  .concept-image-container--3 {
    top: -160px; }

  .concept-image-container--2 {
    bottom: -12px;
    left: 165px; }

  /* WELCOME FEATURE */
  .product-slider-section {
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 5em; }

  #carousel-ctn {
    width: auto; }

  /* WELCOME TESTIMONIAL */
  .testimonial-split-img-container {
    padding-right: 1em;
    padding-left: 1em; }

  /* WELCOME INSTA */
  .ig-image--01 {
    width: 15%; }
  .ig-image--02 {
    left: 90px;
    top: -20px;
    width: 23%; }
  .ig-image--03 {
    width: 25%; }
  .ig-image--04 {
    width: 28%; }
  .ig-image--05 {
    width: 21%; }
  .ig-image--06 {
    width: 33%; }
  .ig-image--07 {
    width: 30%; }

  /* PRODUCT PAGE */
  .product-addToCart-wrapper {
    flex-direction: column; }

  .quantity-wrapper {
    width: fit-content;
    margin-bottom: 20px; } }
@media screen and (max-width: 700px) {
  .product-slider-wrapper {
    width: 50vw; }

  /* ERROR PAGE */
  .error-background h1 {
    font-size: 12em; }
  .error-background h4 {
    font-size: 2em; } }
@media screen and (max-width: 650px) {
  /* CATALOGUE */
  .filter-section {
    flex-direction: column;
    height: 100%;
    width: 0%;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 10;
    left: 0;
    top: 0;
    /* background-color: white; /* Black fallback color */
    background-color: white(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    transform: translateX(-100%); }
    .filter-section .fa-xmark {
      display: block; }
    .filter-section ul {
      flex-direction: column; }

  #fa-bars-filter {
    display: block; }

  /* WELCOME PAGE */
  .main-hero-section .titleContent {
    width: 80%; }

  .explore-products-wrapper {
    padding: 0em 2em;
    flex-direction: column; }

  .explore-product-category {
    padding-bottom: 20px; }

  /* ABOUT PAGE */
  .flex-ctn {
    flex-direction: column;
    gap: 0; }

  .side-img-ctn {
    width: 100%; }

  .about-img-ctn--1 {
    height: 354px;
    overflow: hidden; }

  .about-img-ctn--2 {
    top: 50px;
    left: 300px; } }
@media screen and (max-width: 600px) {
  .btn--product-slider {
    margin-top: 1em; } }
@media screen and (max-width: 540px) {
  /* FOOTER */
  .footer-top-row {
    flex-direction: column; }

  .footer-social-wrapper {
    margin-top: 20px; }

  /* ABOUT PAGE */
  .about-img-ctn--2 {
    top: 70px;
    left: 260px;
    width: 170px; } }
@media screen and (max-width: 479px) {
  /* BASE */
  h1 {
    font-size: 2.5em; }

  h2 {
    font-size: 2em; }

  h3 {
    font-size: 1.75em; }

  h4 {
    font-size: 1.25em; }

  /* CONTAINER */
  .products-list {
    grid-column-gap: 0.5em;
    grid-row-gap: 1.5em;
    grid-template-columns: 1fr; }

  .no-padding-mobile {
    padding-right: 0;
    padding-left: 0; }

  .no-margin-tb-mobile {
    padding-top: 3.5em;
    padding-bottom: 0; }

  /* HEADER */
  .hero-split-right-column {
    min-height: 50vh; }

  .hero-split-content {
    padding-right: 1em;
    padding-left: 1em; }

  /* NAV */
  .logo {
    font-size: 1.5em; }

  .fa-search, .fa-shopping-bag, .fa-bars {
    padding: 0px 10px; }

  /* FOOTER */
  .footer-social-wrapper {
    display: flex; }

  .layout-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }

  .footer-menu-heading {
    padding-bottom: 0em; }

  .footer-mid-row {
    padding: 2em 0 0 0; }

  .footer-mid-row li {
    line-height: 1em; }

  .footer-end-row {
    flex-direction: column; }

  /* PRODUCT ITEM */
  .product-description-wrapper {
    flex-wrap: wrap; }

  .go-back-wrapper {
    display: none; }

  .product-description-images-wrapper {
    width: 100%; }

  .image-gallery-collection-list {
    display: none; }

  .image-gallery-collection-list.mobile {
    display: block; }

  .product-description-content-wrapper {
    width: 100%;
    padding-right: 1em; }

  .product-addToCart-wrapper {
    flex-wrap: wrap; }

  /* WELCOME PAGE */
  .review-ruban {
    width: 100%;
    left: 0px; }
    .review-ruban p {
      margin-top: 0px;
      display: block; }
    .review-ruban span {
      display: block; }

  .product-slider-section {
    margin-top: 4em; }

  .product-slider .product-slider-img-wrapper {
    width: 100%; }

  .testimonial-section {
    margin: 100px 0px; }

  .testimonial-wrapper {
    padding: 2.5em 0em; }

  .explore-products-wrapper {
    flex-direction: column; }

  .explore-product-category {
    padding: 1em 0.5em; }

  .instagram-grid {
    height: 450px;
    margin: 20px auto 50px auto; }

  .ig-image--01 {
    left: 0;
    top: 5%;
    right: auto;
    bottom: auto;
    width: 20%; }
  .ig-image--02 {
    left: 7%;
    top: 30%;
    right: auto;
    bottom: auto;
    width: 30%; }
  .ig-image--03 {
    left: auto;
    top: 0;
    right: 0;
    bottom: auto;
    width: 40%; }
  .ig-image--04 {
    border-radius: 50%;
    overflow: hidden;
    width: 90px;
    height: 90px; }
  .ig-image--05 {
    top: 17%;
    right: 30%;
    width: 30%; }
  .ig-image--06 {
    left: 25%;
    top: auto;
    right: auto;
    bottom: 0;
    width: 50%; }
  .ig-image--07 {
    left: auto;
    top: auto;
    right: 2%;
    bottom: 25%;
    overflow: hidden;
    width: 140px;
    height: 140px;
    border-radius: 50%; }

  /* ABOUT PAGE */
  .about-img-ctn--1 {
    width: 260px; }

  .about-img-ctn--2 {
    top: 80px;
    left: 186px; } }
@media screen and (max-width: 425px) {
  /* WELCOME PAGE */
  .main-hero-section .titleContent {
    padding-left: 30px; }

  .category-image-wrapper {
    height: 370px; }

  /* NAVIGATION */
  .logo-container {
    margin-left: 10px;
    margin-right: 10px;
    width: 210px; }

  /* FOOTER */
  .logo-container--footer {
    height: 50px; }

  .logo-container--footer img {
    top: -80px; } }
@media screen and (max-width: 400px) {
  /* NAVIGATION */
  .fas-wrapper {
    margin-right: 10px; }

  /* FOOTER */
  .footer-top-row {
    flex-direction: column; }

  .footer-social-wrapper {
    margin-top: 20px; }

  .footer-end-row {
    margin-top: 20px; }

  /* ABOUT PAGE */
  .about-img-ctn--1 {
    width: 235px; }

  .about-img-ctn--2 {
    top: 80px;
    left: 186px;
    width: 145px; }

  /* ERROR PAGE */
  .error-background h1 {
    font-size: 9em; }
  .error-background h4 {
    font-size: 1.8em; } }
@media screen and (max-width: 370px) {
  /* ABOUT PAGE */
  .about-img-ctn--2 {
    top: 190px;
    width: 120px; } }
@media screen and (max-width: 350px) {
  /* WELCOME PAGE */
  .concept-image-container--2 {
    left: 70px; } }

/*# sourceMappingURL=styles.css.map */
